.card-main-container {
    padding: 10px;
    display: grid;
    max-width: 350px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img{
    width: 50%;
    border-radius: 20%;
}

.card-main-title{
    margin: 10px 0 10px 0;
    text-align: center;
}

.card-title{
    margin: 0 5px 0 0;
}

.card-country{
    opacity: 0.6;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.card-description{
    text-align: justify;
    text-justify: inter-word;
}

.card-btn-container{
    display: flex;
    justify-content: center;
    align-items: center
}

.card-btn-container button{
    width: 150px;
    height: 50px;
}

.card-btn{
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #151F35;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.card-btn:hover{
    border: 1px solid #151F35;
    border-radius: 20px;
    color: #151F35;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.card-main-badge{
    color: #2C3C5B;
    padding: 2px 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    margin: 0 0 0 5px;
    border: 1px #2C3C5B solid;
}

.card-secondary-container-badges{
    text-align: center;
    margin: 10px 0;
}

.card-secondary-badge{
    border: none;
    color:  white;
    font-size: 12px;
    background-color: #5E738E;
    padding: 2px 5px;
    margin: 0 2px;
    text-align: center;
    border-radius: 15px;
}

@media only screen and (min-width: 768px) {
    .card-main-container {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        max-width: 800px;
        background-color: #fff;
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 15px;
    }
    .card-img{
        width: 80%;
        border-radius: 20%;
    }
    .card-main-title{
        margin: 10px 0 10px 0;
        text-align: start;
    }
    .card-secondary-container-badges{
        text-align: start;
        margin: 5px 0 0 0;
    }
}